
.prefix{
  background-color: #2a2f35;
  border-top: 2px solid #2a2f35;
  border-bottom: 2px solid #2a2f35;
  width: 15%;
  height: 3vh;
  text-align: center;
}
.prefix img{
  height: 80%;
  margin-top: 5%;
}
.input-box input{
  width: 90%;
  height: 100%;
  background-color: #e2e2e2;
  border: 2px solid #2a2f35;
  padding: 0 5%;
}
.input-box{
  height: 3vh;
  width: 85%;
  margin-bottom: 3vh;
}
.input-line{
  display: flex;
  width: 20vw;
}

.admin-btn{
  width: 20vw;
  height: 4vh;
  background-color: #2a2f35;
  color: white;
  font-size: 16px;
  margin-top: 1vh;
  border: 2px solid #2a2f35;
  cursor: pointer;
}

.admin-btn:hover{
  background-color: #52565b;
}
